{% extends '@Base/base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

    <form name="customer_registration" action="{{ route('customer_registration') }}" method="post">
            <input
                name="firstName"
                type="text"
                placeholder="Your first name"
                autofocus=""
                required="true"
            />
            <input
                name="lastNames"
                type="text"
                placeholder="Your last names"
                required=""
            />
            <input
                name="username"
                type="text"
                placeholder="Choose your username wisely"
                required=""
            />
            <input
                name="emailAddress"
                type="email"
                placeholder="you@domain.com"
                required=""
            />
            <input name="submit" type="submit"/>
        </p>
    </form>

{% endblock %}